.categScrollBar::-webkit-scrollbar {
  height: 3px;
  border-radius: 5px;
  width: auto;
}
.categScrollBar::-webkit-scrollbar-track {
  background: #28a5ff5b;
}
.categScrollBar::-webkit-scrollbar-thumb {
  background: #1677bd;
  border-radius: 5px;
}



/* Swiper Pagination Bullet  */
.swiper-pagination-bullet {
  background: #fff !important;
}


/* Swiper Navigation  */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  scale: 1.1;
  transition: 150ms;
}

